@model IEnumerable<DataAccess.Models.Page>

<h3>Total Active Pages are @Model.Count()</h3>

<div class="activepage">

</div>

<script>

    var current = 0;

    function getNextPage() {
        $.ajax({
            url: '/Page/NextPage/' + current,
            success: function (data) {
                $('.activepage').html(data);
                current = parseInt($('.activepage #PageId').val());
            },
            cache: false
        });
    }

    $(document).ready(function () {
        getNextPage();

        setInterval(function () {
            getNextPage();
        }, 3000);
    });

</script>