@model DataAccess.Models.Page

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Content</h1>


<hr />

<div class="col-lg-12">


    <div class="card shadow mb-4">


        <div class="card-body">

            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group row">
                            <label asp-for="PageTitle" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="PageTitle" class="form-control" />
                                <span asp-validation-for="PageTitle" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="PageStatus" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <select id="first" asp-for="PageStatus" class="form-control">
                                    <option selected disabled>-- select Page Status--</option>
                                    <option value="@DataAccess.Models.Status.Active.ToString()">@DataAccess.Models.Status.Active.ToString()</option>
                                    <option value="@DataAccess.Models.Status.Inactive.ToString()">@DataAccess.Models.Status.Inactive.ToString()</option>
                                </select>
                                <span asp-validation-for="PageStatus" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row" id="typingArea">
                            <label asp-for="Content" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <textarea id="text" asp-for="Content" class="form-control" rows="15"></textarea>
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
<script>
    $().ready(function() {
        $('textarea').tinymce({
            toolbar: "image",
            plugins: "image imagetools",
            imagetools_toolbar: "rotateleft rotateright | flipv fliph | editimage imageoptions"

        });
    });
</script>

