<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ContentViewerApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-toggleable-md  border-bottom box-shadow mb-3">

        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav">
                
                <li class="nav-item">
                    <a class="navbar-brand" asp-area="" asp-controller="Page" asp-action="Index">All available pages | </a>
                </li>


                <li class="nav-item">
                    <a class="navbar-brand" asp-area="" asp-controller="Page" asp-action="ActivePages">All Active Pages</a>
                </li>

                
            </ul>
        </div>
    </nav>

    <header class="page-header header container-fluid">
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ContentViewerApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="~/js/tinymce/js/tinymce/jquery.tinymce.min.js"></script>



    @RenderSection("Scripts", required: false)
</body>
</html>
