@{
    ViewData["Title"] = "Home Page";
}

@*
    <div class="card description" style="width: 50rem;">
        <div class="card-body">

            <h1 class="card-header">Carousel Demo, Welcome!</h1>
            <p>
                <h2>
                    All content by our Application Development team of Web Designers and Developers.
                </h2>
            </p>
        </div>
    </div>
*@
<script src="~/js/Index.js"></script>


