@{
    ViewData["Title"] = "Home Page";
}

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Page" asp-action="Index">All available pages</a>
            <a class="navbar-brand" asp-area="" asp-controller="Page" asp-action="ActivePages">Active Pages</a>
            <a class="navbar-brand" asp-area="" asp-controller="Page" asp-action="DisplaySample">Active pages carousel</a>
          
            
        </div>
    </nav>